# Node template
node_modules
logs
*.log
npm-debug.log*
.node_repl_history
.npm
tsconfig.json
package.json

# ide
.idea
.vscode

# windows thumbnail cache
Thumbs.db

# temp files
*~
~*
tmp

# env files
.env
.env.*
*.d.ts
